body {
  margin: 0;
}

@font-face {
 font-family: 'Oleo Script';
 font-style: normal;
 font-weight: 400;
 src: local('Oleo Script'), url(http://fonts.gstatic.com/s/oleoscript/v5/_weQNDK6Uf40CiGFKBBUjogp9Q8gbYrhqGlRav_IXfk.woff2)
 format('woff2');
}

@font-face {
 font-family: 'Poiret One';
 font-style: normal;
 font-weight: 400;
 src: local('Poiret One'), url(http://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8QzyDMXhdD8sAj6OAJTFsBI.woff2)
 format('woff2');
}

body {
  text-align: center;
}

h1 {
  margin: 0;
}

.header-wrapper {
     background-image: url('../img/header-background.jpg');
     background-size: cover;
     height: 265px;
  }

.logo {
    position: absolute;
    top: 30px;
    left: 475px;
    width: 100px;
    height: 100px;
    background-image: url("../img/logo.png");
}

.main-heading {
  font-family: 'Oleo Script';
  font-size: 36px;
  color: #ffffff;
  text-shadow: 2px 2px 2px black;
  text-align: center;
}

.subheader-msg {
  font-family: 'Poiret One';
  font-size: 100%;
  color: white;
}

.image-cards {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  list-style-type: none;
}

.single-img-card {
  height: 150px;
  width: 33.3%;
  margin: 6px;
}

#left-img {
  background-image: url("../img/left-img.jpg");
  background-size: cover;
}

#middle-img {
  background-image: url("../img/middle-img.jpg");
  background-size: cover;
}

#right-img {
  background-image: url("../img/right-img.jpg");
  background-size: cover;
}

.callout-wrapper {
  background-color: #47986B;
}
